@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

:root{
  --primary: #F87171;

}

body{
  font-family: 'Lato', sans-serif;
  
}

div{
  text-align: center;
  
}
.container{
  padding: 2rem;
  font-size: 1.1rem;
}

.container-center{
  max-width: 650px;
  margin: auto;
 
}

.heading{
  background-color: var(--primary);
  padding: 1rem 2rem;
  border-bottom-left-radius: 1rem;
  color: #ffff;
  margin: 0;
}

#dob{
margin:2rem;
}

#lucky-num{
margin:2rem;
}

#check{
  padding: 1rem 2rem;
  border: none;
  font-family: inherit;
  background-color: var(--primary);
  color:white;
  border-radius: 1rem;
}
#check:hover{
  background-color: #FCA5A5;
  color: black;
  cursor: pointer;
}

#output-msg{
  font-size: 1.5rem;
}



#footer{
  background-color: var(--primary);
  padding: 1rem 2rem;
  text-align: center;
  color: white;
  border-bottom-right-radius: 1rem;
  /* position: fixed; */
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  /* width:fit-content; */
  /* width: 100%; */
}

#footer .footer-header{
  font-size: large;
  font-weight: bold;
}

#footer .link{
  color:white
}
.list-item-inline{
  display:inline;
  padding: 0rem 0.5rem;
}